<!DOCTYPE html> {% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NFL</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!--favicon-->
    <link rel="shortcut icon" href="{%  static 'icons/favicon.jpg' %}">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

    <!-- Custom styles for tables page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'Fantasy-home' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-2">Nagwa</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Fantasy-home' %}">
                    <i class="fas fa-chart-line"></i>
                    <span>Dashboard</span></a>
            </li>

            {% if user.is_superuser %}
            <!-- Divider -->
            <hr class="sidebar-divider">

            <div class="sidebar-heading" style="color: red;">
                Admin
            </div>

            <!-- Nav Item - Admin Panel -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">
                    <i class="fas fa-toolbox" style="color: red;"></i>
                    <span style="color: red;">Admin Panel</span></a>
            </li>

            <!-- Nav Item - Gameweek Settings -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Fantasy-gameweek' %}">
                    <i class="fas fa-toolbox" style="color: red;"></i>
                    <span style="color: red;">Gameweek Settings</span></a>
            </li>
            {% endif %}

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - League Rules -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Fantasy-league-rules' %}">
                    <i class="fas fa-handshake"></i>
                    <span>League Rules</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Fantasy Rules -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Fantasy-rules' %}">
                    <i class="fas fa-handshake"></i>
                    <span>Fantasy Rules</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                My Team
            </div>

            {% if previous_gameweek %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Fantasy-squad'%}">
                    <i class="fas fa-calculator"></i>
                    <span>Points</span> <span class="badge badge-primary badge-pill">GW{{previous_gameweek}}</span>
                </a>
            </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'Fantasy-squadSelection'%}">
                    <i class="fas fa-check-double"></i>
                    <span>Squad Selection</span> <span class="badge badge-primary badge-pill">GW{{gameweek}}</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'Fantasy-score'%}">
                    <i class="fas fa-calculator"></i>
                    <span>My Scores</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Teams
            </div>

            <li class="nav-item">
                <a class="nav-link" href="{%url 'Fantasy-teams'%}">
                    <i class="fas fa-star"></i>
                    <span>Fantasy Leaderboard</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{%url 'Fantasy-allplayers'%}">
                    <i class="fas fa-futbol"></i>
                    <span>Players</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'Fantasy-groups'%}">
                    <i class="fas fa-layer-group"></i>
                    <span>Groups Table & Standings</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'Fantasy-matches'%}">
                    <i class="fas fa-clock"></i>
                    <span>Matches</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Fantasy-videos'%}">
                    <i class="fas fa-clock"></i>
                    <span>Matches Videos</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <li class="nav-item">
                <a class="nav-link" href="{% url 'Fantasy-about' %}">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>About</span></a>
            </li>

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink fa-2x"></i>
                    </div>
                    <h3 id="base-title" class="sidebar-brand-text mx-2">Fantasy Nagwa League</h3>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">{% if alarms %}{{alarms.count}}{% endif %}</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header" style="font-size: x-small;">
                                    Alerts Center
                                </h6>
                                {% if alarms %}
                                    {% for alarm in alarms%}
                                        <a class="dropdown-item d-flex align-items-center" href="{% if alarm.url %}{{alarm.url}}{% else %}#{% endif %}" style="font-size: x-small;">
                                            <div class="mr-3">
                                                <div class="icon-circle bg-primary">
                                                    <i class="fas {% if alarm.icon_tag %}{{alarm.icon_tag}}{% else %}fa-bell{% endif %} text-white"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="small text-gray-500">{{alarm.date}}</div>
                                                <span class="font-weight-bold">{{alarm.header}}</span><br>
                                                <span>{{alarm.content | safe }}</span>
                                            </div>
                                        </a>
                                    {% endfor %}
                                {% endif %}
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">{% if notifications %}{{notifications.count}}{% endif %}</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header" style="font-size: x-small;">
                                    Message Center
                                </h6>
                                {% if notifications %}
                                    {% for notification in notifications%}
                                        <a class="dropdown-item d-flex align-items-center" href="{% if notification.url %}{{notification.url}}{% else %}#{% endif %}" style="font-size: x-small;">
                                            <div class="mr-3">
                                                <div class="icon-circle bg-primary">
                                                    <i class="fas {% if notification.icon_tag %}{{notification.icon_tag}}{% else %}fa-envelope{% endif %} text-white"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="small text-gray-500">{{notification.date}}</div>
                                                <span class="font-weight-bold">{{notification.header}}</span><br>
                                                <span>{{notification.content | safe }}</span>
                                            </div>
                                        </a>
                                    {% endfor %}
                                {% endif %}
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.first_name}} {{ user.last_name }}</span>
                                <!-- <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg"> -->
                            </a>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- {% if messages %}
                        {% for message in messages%}
                            <div class="alert alert-{{message.tags}}">
                            {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %} -->
                    <!-- Page Heading -->
                    <!-- <h1 class="h3 mb-4 text-gray-800">Blank Page</h1> -->
                    {% block content %}{% endblock %}

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; NFL 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <style>
        @media (max-width: 720px) {
            #base-title {
                font-size: smaller;
            }
        }
        
        .sidebar .nav-item .nav-link {
            padding: 0.5rem 1rem;
        }
        
        @media (min-width: 768px) {
            .sidebar .nav-item .nav-link {
                padding: 0.7rem;
            }
        }
        
        @media (max-width: 767.99px) {
            .topbar {
                position: fixed !important;
                top: 0 !important;
                right: 0 !important;
                left: 0 !important;
                z-index: 1030 !important;
            }
            .container-fluid {
                margin-top: 5.875rem !important;
                padding-left: 0.75rem !important;
                padding-right: 0.75rem !important;
            }
        }
        .arabic {
            text-align: right;
            direction: rtl;
        }
    </style>
    {% block style %}{% endblock %}
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- datatables plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

    <script>
        function ImageExist(url) {
            var img = new Image();
            img.src = url;
            return img.height != 0;
        }
    </script>
    {% block scripts %}{% endblock %}
</body>

</html>