{% extends "Fantasy/base.html" %}
{% block content%}

<h3>&nbsp;</h3>
<h3>
    This is a fantasy scoring system among the company during the tournament. I believe it is a great opportunity to promote engagement between all the people at the company. I will be writing here the rules, guidelines, and scoring system.
</h3>
<h3>&nbsp;</h3>
<h3>Created By</h3>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="/static/Fantasy/developers/MTarek.jpg" alt="Card image cap">
            <div class="card-body">
                <small class="card-text">Mohamed Tarek</small>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="/static/Fantasy/developers/MTarek.jpg" alt="Card image cap">
            <div class="card-body">
                <small class="card-text">Mahmoud ElNeweshy</small>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="/static/Fantasy/developers/MTarek.jpg" alt="Card image cap">
            <div class="card-body">
                <small class="card-text">Yasser Mohsen (x-Nagwa)</small>
            </div>
        </div>
    </div>
</div>

{% endblock content%}