{% extends "generic/base.html" %}

{% block content%}
{% load static %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Fantasy Players</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Player Icon</th>
                        <th>Player Name</th>
                        <th>Team Name</th>
                        <th>Playing Role</th>
                        {% if previous_gameweek %}
                            <th>GW{{previous_gameweek}} Score</th>
                        {% endif %}
                        <th class="important-cell">Overall Score</th>
                        <th>Goals</th>
                        <th>Assists</th>
                        <th>Own Goals</th>
                        <th>Yellow Cards</th>
                        <th>Red Cards</th>
                        <th>Clean Sheets</th>
                        <th>Penalties Saved</th>
                        <th>Penalties Missed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players%}
                        <tr>
                            <td class="text-center"><img class="rounded-circle account-img" style="max-width:80px;" data-img="/media/profile_pics/{{player.playerName}}.jpg" src="/media/default.jpg"></td>
                            <td>{{player.playerName}}</td>
                            <td>{{player.team}}</td>
                            <td>{{player.playingRole}}</td>
                            {% if previous_gameweek %}
                                <td>{{player.last_gameweek_player_score | default_if_none:'-' }}</td>
                            {% endif %}
                            <td class="important-cell">{{player.total_player_score | default_if_none:'-' }}</td>
                            {% with ps=player.player_scores %}
                                <td>{{ ps.get_goals_sum }}</td>
                                <td>{{ ps.get_assists_sum }}</td>
                                <td>{{ ps.get_own_goals_sum }}</td>
                                <td>{{ ps.get_yellow_cards_sum }}</td>
                                <td>{{ ps.get_red_cards_sum }}</td>
                                <td>{{ ps.get_clean_sheets_sum }}</td>
                                <td>{{ ps.get_penalties_saved_sum }}</td>
                                <td>{{ ps.get_penalties_missed_sum }}</td>
                            {% endwith %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .important-cell {
        background-color: lavender;
    }
</style>
{% endblock content%}

{% block scripts %}
<script>
    // Call the dataTables jQuery plugin
        $(document).ready(function() {
        $('#dataTable').DataTable();
        // $(".account-img").each(function(){
        //     console.log($(this).data('img'))
        //     var my_img = $(this).data('img')
        //     if(ImageExist(my_img)){
        //         console.log("exists ", my_img)
        //         $(this).attr('src', my_img)
        //     }else{
        //         console.log("not exist ", my_img)
        //     }
        // })
    });
</script>
{% endblock %}