{% extends "generic/base.html" %}

{% block content%}
{% load static %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Fantasy Players</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Player Icon</th>
                        <th>Player Name</th>
                        <th>Team Name</th>
                        <th>Playing Role</th>
                        <th>Last Round Score</th>
                        <th>Overall Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in players%}
                        <tr>
                            <td class="text-center"><img class="rounded-circle account-img" style="max-width:80px;" src="/media/profile_pics/{{player.playerName}}.jpg"></td>
                            <td>{{player.playerName}}</td>
                            <td>{{player.teamName}}</td>
                            <td>{{player.playingRole}}</td>
                            <td>{{player.last_gameweek_player_score | default_if_none:'-' }}</td>
                            <td>{{player.total_player_score | default_if_none:'-' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content%}

{% block scripts %}
<script>
    // Call the dataTables jQuery plugin
        $(document).ready(function() {
        $('#dataTable').DataTable();
    });
</script>
{% endblock %}