{% extends "generic/base.html" %}

{% block content%}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Fantasy Teams</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Team</th>
                        {% if previous_gameweek %}
                            <th>GW{{previous_gameweek}} Score</th>
                        {% endif %}
                        <th>Total Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'Fantasy-score-others' team.id %}">{{ team.first_name }} {{ team.last_name }}</a></td>
                            {% if previous_gameweek %}
                                <td>{{ team.last_gameweek_team_score|default_if_none:'-' }}</td>
                            {% endif %}
                            <td>{{ team.total_team_score|default_if_none:'-' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content%}

{% block scripts %}
<script>
    // Call the dataTables jQuery plugin
        $(document).ready(function() {
        $('#dataTable').DataTable();
    });
</script>
{% endblock %}