{% extends "generic/base.html" %}

{% block content%}
<div>&nbsp;</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Groups Table & Standings</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            {% include 'Fantasy/groups_table.html' %}
        </div>
    </div>
</div>
{% endblock content%}

{% block scripts %}
<script>
    $(document).ready(function() {
        
    });
</script>
{% endblock %}