{% extends "Fantasy/base.html" %}
{% block content%}
{% load static %}

<div>
    <div class="sc-bdVaJa sc-bwzfXH braieH">
        <h3 class="SubHeading-jeif1t-0 ecsXdI">Player Selection</h3>
    </div>
    <form class="ElementList__Form-j2itt6-0 jBqjhq">
        <div class="FieldRenderers__FieldWrap-sc-1qxt7mw-0 fisYFq">
            <label for="filter">
                <span class="FieldRenderers__FieldLabel-sc-1qxt7mw-1 jEVGiM">View</span>
            </label>
            <div class="FieldRenderers__SelectWrap-sc-1qxt7mw-5 dgPsyM">
                <select id="filter" class="FieldRenderers__Select-sc-1qxt7mw-7 dBadbV">
                    <optgroup label="Global">
                        <option value="all" aria-selected="true">All players</option>
                    </optgroup>
                    <optgroup label="By Position">
                        {% for player in players%}
                        <option value="et_1" aria-selected="false">{{player.playingRole}}</option>
                        {% endfor%}
                    </optgroup>
                    <optgroup label="By Team">
                        {% for player in players%}
                        <option value="te_1" aria-selected="false">{{player.teamName}}</option>
                        {% endfor%}
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="FieldRenderers__FieldWrap-sc-1qxt7mw-0 fisYFq">
            <label for="sort"><span class="FieldRenderers__FieldLabel-sc-1qxt7mw-1 jEVGiM">Sorted by</span></label>
            <div class="FieldRenderers__SelectWrap-sc-1qxt7mw-5 dgPsyM">
                <select id="sort" class="FieldRenderers__Select-sc-1qxt7mw-7 dBadbV">
                    <option value="total_points" aria-selected="false">Total points</option>
                    <option value="event_points" aria-selected="false">Round points</option>
                    <option value="now_cost" aria-selected="false">Price</option>
                    <option value="selected_by_percent" aria-selected="false">Team selected by %</option>
                    <option value="minutes" aria-selected="false">Minutes played</option>
                    <option value="goals_scored" aria-selected="false">Goals scored</option>
                    <option value="assists" aria-selected="false">Assists</option>
                    <option value="clean_sheets" aria-selected="false">Clean sheets</option>
                    <option value="goals_conceded" aria-selected="false">Goals conceded</option>
                    <option value="own_goals" aria-selected="false">Own goals</option>
                    <option value="penalties_saved" aria-selected="false">Penalties saved</option>
                    <option value="penalties_missed" aria-selected="false">Penalties missed</option>
                    <option value="yellow_cards" aria-selected="false">Yellow cards</option>
                    <option value="red_cards" aria-selected="false">Red cards</option>
                    <option value="saves" aria-selected="false">Saves</option>
                    <option value="dreamteam_count" aria-selected="false">Times in Dream Team</option>
                    <option value="points_per_game" aria-selected="false">Points per match</option>
                    <option value="transfers_in" aria-selected="false">Transfers in</option>
                    <option value="transfers_out" aria-selected="false">Transfers out</option>
                    <option value="transfers_in_event" aria-selected="false">Transfers in (round)</option>
                    <option value="transfers_out_event" aria-selected="false">Transfers out (round)</option>
                </select>
            </div>
        </div>
        <div class="FieldRenderers__FieldWrap-sc-1qxt7mw-0 fisYFq">
            <label for="search"><span class="FieldRenderers__FieldLabel-sc-1qxt7mw-1 jEVGiM">Search</span></label>
            <div class="FieldRenderers__SearchWrap-sc-1qxt7mw-9 gzXcRr">
            <input type="search" id="search" name="search" class="FieldRenderers__Input-sc-1qxt7mw-4 FieldRenderers__SearchInput-sc-1qxt7mw-10 kYoxTR" value="">
            <span class="FieldRenderers__SearchIcon-sc-1qxt7mw-11 eBSOjW"></span>
            </div>
        </div>
    </form>
    <p class="ElementList__ElementsShown-j2itt6-1 hWkKro"><strong>626</strong> players shown</p>
</div>

<div>
    {% for player in players %}
    <h1>{{player.playingRole}} {{player.index}}</h1>
    <p> {{player.playerName}} is a {{player.playingRole}} in {{player.teamName}} team. He scored in the last round {{player.lastRoundScore}} and overall {{player.overallScore}}.</p>
    {%endfor%}
</div>
{% endblock content%}