{% extends "generic/base.html" %}
{% block content%}
{% load static %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">League Rules</h4>
    </div>
    <div class="card-body">
<h4>Nagwa League 2022 Rules:</h4>
<br>
<div style="padding-bottom: 1rem;">Matches are divided into 2 halves; each half is 15 minutes long with a break of 5 minutes between the two halves.</div>
<b class="text-primary">Substitution Rules</b>
<ul>
    <li>Substitutions are unlimited and can take place at any time during the match.</li>
    <li>Any substitution should take place in the midline where the refereeing committees placed.</li>
    <li>The substitute has the right to enter the court after the substituted player exits without stopping the match. If the player entered the ground before the substituted player leaves the playground, the player who entered the playground will receive a yellow card.</li>
    <li>The match will be stopped only if the goalkeeper is being substituted.</li>
</ul>
<b class="text-primary">On field Rules</b>
<ul>
    <li>Kickoffs and corner kicks can be counted as a goal if the player succeeds in scoring directly.</li>
    <li>A throw-in doesn’t count as a goal if the ball enters the goal directly without touching any player.</li>
    <li>Goal-kicks are played by hands. </li>
    <li>The player who receives 3 yellow cards in the group stage gets banned from playing the coming match.</li>
    <li>In case of receiving 2 yellow cards in a match, the player gets dismissed from the game, but he can play the coming match.</li>
    <li>If being dismissed from the match, the player’s team must play the game shorthanded for 2 minutes before getting a substitute player.</li>
    <li>Tackling on an opponent is banned and deserves an indirect free kick. </li>
    <li>If a player returned the ball to his goalkeeper by the means of his foot, the goalkeeper can't catch the ball in his hands and if he did the other team will get an indirect free kick from the spot of the penalty kick.</li>
</ul>
    </div>
</div>
{% endblock content%}