{% extends "generic/base.html" %}
{% block content%}
{% load static %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">League Rules</h4>
    </div>
    <div class="card-body">
<h4>Nagwa League 2022 Rules:</h4>
<br>
<div style="padding-bottom: 1rem;">Matches are divided into 2 halves; each half is 15 minutes long with a break of 5 minutes between the two halves.</div>
<b class="text-primary">Substitution Rules</b>
<ul>
    <li>Substitutions are unlimited and can take place at any time during the match.</li>
    <li>Any substitution should take place in the midline where the refereeing committees placed.</li>
    <li>The substitute has the right to enter the court after the substituted player exits without stopping the match. If the player entered the ground before the substituted player leaves the playground, the player who entered the playground will receive a yellow card.</li>
    <li>The match will be stopped only if the goalkeeper is being substituted.</li>
</ul>
<b class="text-primary">On field Rules</b>
<ul>
    <li>Kickoffs and corner kicks can be counted as a goal if the player succeeds in scoring directly.</li>
    <li>A throw-in doesn’t count as a goal if the ball enters the goal directly without touching any player.</li>
    <li>Goal-kicks are played by hands. </li>
    <li>The player who receives 3 yellow cards in the group stage gets banned from playing the coming match.</li>
    <li>In case of receiving 2 yellow cards in a match, the player gets dismissed from the game, but he can play the coming match.</li>
    <li>If being dismissed from the match, the player’s team must play the game shorthanded for 2 minutes before getting a substitute player.</li>
    <li>Tackling on an opponent is banned and deserves an indirect free kick. </li>
    <li>If a player returned the ball to his goalkeeper by the means of his foot, the goalkeeper can't catch the ball in his hands and if he did the other team will get an indirect free kick from the spot of the penalty kick.</li>
</ul>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3" >
        <h4 class="m-0 font-weight-bold text-primary">قواعد الدوري</h4>
    </div>
    <div class="card-body" >
<h4>قواعد دوري نجوى ٢٠٢٢:</h4>
<br>
<div style="padding-bottom: 1rem;">تقسم المباريات إلى نصفين. طول كل شوط 15 دقيقة مع استراحة مدتها 5 دقائق بين النصفين.</div>
<b class="text-primary">قواعد الاستبدال</b>
<ul>
    <li>التبديلات غير محدودة ويمكن أن تحدث في أي وقت أثناء المباراة.</li>
    <li> يجب أن يتم أي تبديل في خط الوسط حيث تم وضع لجان التحكيم.</li>
    <li>يحق للبديل دخول الملعب بعد خروج اللاعب البديل دون إيقاف المباراة. إذا دخل اللاعب إلى الأرض قبل مغادرة اللاعب البديل للملعب ، فسيحصل اللاعب الذي دخل الملعب على بطاقة صفراء.</li>
    <li>تتوقف المباراة فقط في حالة استبدال حارس المرمى.</li>
</ul>
<b class="text-primary">قواعد الملعب</b>
<ul>
    <li>يمكن احتساب ركلات البداية والركلات الركنية كهدف إذا نجح اللاعب في التسجيل مباشرة.</li>
    <li>لا تعتبر رمية التماس هدفًا إذا دخلت الكرة المرمى مباشرة دون لمس أي لاعب.</li>
    <li>يتم لعب ضربات المرمى بالأيدي.</li>
    <li>يُمنع اللاعب الذي حصل على 3 بطاقات صفراء في دور المجموعات من لعب المباراة القادمة.</li>
    <li>في حالة حصوله على بطاقتين صفراوين في المباراة ، يتم طرد اللاعب من المباراة ، لكن يمكنه لعب المباراة القادمة.</li>
    <li>إذا تم طرده من المباراة ، يجب على فريق اللاعب أن يلعب اللعبة مختصرة لمدة دقيقتين قبل الحصول على لاعب بديل.</li>
    <li>يمنع "الزحلقة" مع الخصم ويستحق ركلة حرة غير مباشرة.</li>
    <li>إذا أعاد اللاعب الكرة إلى حارسه عن طريق قدمه ، فلن يتمكن حارس المرمى من التقاط الكرة في يديه ، وإذا فعل ذلك ، فسيحصل الفريق الآخر على ركلة حرة غير مباشرة من موقع ركلة الجزاء.</li>
</ul>
    </div>
</div>
{% endblock content%}