{% extends "generic/base.html" %}

{% block content%}
<div>
    <small style="color: red; font-weight: bold;">Gameweek {{gameweek}} Deadline at: {{gameweek_deadline}}</small>
</div>
<div>&nbsp;</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Matches</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="thead-light">
                    <tr>
                        <th>GW</th>
                        <th>Day</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Team 1</th>
                        <th>Result</th>
                        <th>Team 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class='{% if gameweek == 1 %}table-info{% endif %}'>
                        <td rowspan="2">1</td>
                        <td rowspan="2">Tuesday</td>
                        <td rowspan="2">2020-03-10</td>
                        <td>5:00 PM</td>
                        <td>Master of Darkness</td>
                        <td class="text-center">7 - 4</td>
                        <td>Hawks</td>
                    </tr>
                    <tr class='{% if gameweek == 1 %}table-info{% endif %}'>
                        <td>6:00 PM</td>
                        <td>Sparta Returns</td>
                        <td class="text-center">2 - 3</td>
                        <td>Brousia Dortmound</td>
                    </tr>
                    <tr class='{% if gameweek == 2 %}table-info{% endif %}'>
                        <td rowspan="2">2</td>
                        <td rowspan="2">Tuesday</td>
                        <td rowspan="2">2020-03-17</td>
                        <td>5:00 PM</td>
                        <td>Sparta Returns</td>
                        <td class="text-center">-</td>
                        <td>Master of Darkness</td>
                    </tr>
                    <tr class='{% if gameweek == 2 %}table-info{% endif %}'>
                        <td>6:00 PM</td>
                        <td>Gunners</td>
                        <td class="text-center">-</td>
                        <td>Brousia Dortmound</td>
                    </tr>
                    <tr class='{% if gameweek == 3 %}table-info{% endif %}'>
                        <td rowspan="2">3</td>
                        <td rowspan="2">Tuesday</td>
                        <td rowspan="2">2020-03-24</td>
                        <td>5:00 PM</td>
                        <td>Gunners</td>
                        <td class="text-center">-</td>
                        <td>Hawks</td>
                    </tr>
                    <tr class='{% if gameweek == 3 %}table-info{% endif %}'>
                        <td>6:00 PM</td>
                        <td>Master of Darkness</td>
                        <td class="text-center">-</td>
                        <td>Brousia Dortmound</td>
                    </tr>
                    <tr class='{% if gameweek == 4 %}table-info{% endif %}'>
                        <td rowspan="2">4</td>
                        <td rowspan="2">Tuesday</td>
                        <td rowspan="2">2020-04-07</td>
                        <td>5:00 PM</td>
                        <td>Hawks</td>
                        <td class="text-center">-</td>
                        <td>Sparta Returns</td>
                    </tr>
                    <tr class='{% if gameweek == 4 %}table-info{% endif %}'>
                        <td>6:00 PM</td>
                        <td>Master of Darkness</td>
                        <td class="text-center">-</td>
                        <td>Gunners</td>
                    </tr>
                    <tr class='{% if gameweek == 5 %}table-info{% endif %}'>
                        <td rowspan="2">5</td>
                        <td rowspan="2">Tuesday</td>
                        <td rowspan="2">2020-04-14</td>
                        <td>5:00 PM</td>
                        <td>Hawks</td>
                        <td class="text-center">-</td>
                        <td>Brousia Dortmound</td>
                    </tr>
                    <tr class='{% if gameweek == 5 %}table-info{% endif %}'>
                        <td>6:00 PM</td>
                        <td>Sparta Returns</td>
                        <td class="text-center">-</td>
                        <td>Gunners</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content%}

{% block scripts %}
<script>
    // Call the dataTables jQuery plugin
        $(document).ready(function() {
        $('#dataTable').DataTable();
    });
</script>
{% endblock %}