{% extends "generic/base.html" %}

{% block content%}
<div>
    <small style="color: red; font-weight: bold;">Gameweek {{gameweek}} Deadline at: {{gameweek_deadline}}</small>
</div>
<div>&nbsp;</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Matches</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="thead-light">
                    <tr class="text-center">
                        <th>GW</th>
                        <th>Day</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Team 1</th>
                        <th>Result</th>
                        <th>Team 2</th>
                        {% if user.is_staff or user.is_superuser %}<th>Action</th>{% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for f in fixtures %}
                    <tr class='{% if gameweek == f.gameweek %}table-info{% endif %}'>
                        <td>{% ifchanged f.gameweek %}{{ f.gameweek }}{% endifchanged %}</td>
                        <td>{% ifchanged f.date.date %}{{ f.date | date:'l' }}{% endifchanged %}</td>
                        <td>{% ifchanged f.date.date %}{{ f.date | date:'Y-m-d' }}{% endifchanged %}</td>
                        <td>{{ f.date | date:'h:i A' }}</td>
                        <td class="text-center">{{ f.team1 }}</td>
                        <td class="text-center">{{ f.team1_goals|default_if_none:'' }} - {{ f.team2_goals|default_if_none:'' }}</td>
                        <td class="text-center">{{ f.team2 }}</td>
                        {% if gameweek == f.gameweek and user.is_staff or user.is_superuser %}
                            <td>
                                <a href="{% url 'Fantasy-update_match_stats' f.id %}" class="btn btn-info btn-circle">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content%}

{% block scripts %}
<script>
    // Call the dataTables jQuery plugin
        $(document).ready(function() {
        $('#dataTable').DataTable(
            {"bSort": false}
        );
    });
</script>
{% endblock %}