{% extends "generic/base.html" %} 
{% load my_filters %}
{% block content%}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Matches Videos</h1>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <ul class="nav nav-pills card-header-pills">
        {% for stage, others in played_fixtures_grouped_by_stage_and_gw.items %}
        <li class="nav-item">
          <a class="nav-link {% if gw %}{% if others|is_in_keys:gw %}active{% endif %}{% else %}{% if others|is_in_keys:previous_gameweek %}active{% endif %}{% endif %} {% if not others %}disabled{% endif %}" id="nav-{{forloop.counter}}-tab" data-toggle="pill" href="#nav-{{forloop.counter}}" role="tab" aria-controls="nav-{{forloop.counter}}" aria-selected="true">{% if stage == 'Group' %}Groups{% elif stage == '3rd Place Playoff' %}3rd Place{% else %}{{stage}}{% endif %}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="card-body tab-content">
        {% for stage, others in played_fixtures_grouped_by_stage_and_gw.items %}
        <div class="tab-pane fade {% if gw %}{% if others|is_in_keys:gw %}show active{% endif %}{% else %}{% if others|is_in_keys:previous_gameweek %}show active{% endif %}{% endif %}" id="nav-{{forloop.counter}}" role="tabpanel" aria-labelledby="nav-{{forloop.counter}}-tab">
            {% for my_gw, fixtures in others.items %}
            <div id="accordion">
                <div class="card">
                  <div class="card-header" id="heading{{my_gw}}">
                    <h5 class="mb-0">
                      <button class="btn btn-link {% if gw %}{% if gw != my_gw %}collapsed{% endif %}{% else %}{% if my_gw == previous_gameweek or others.items|length == 1 %}{% else %}collapsed{% endif %}{% endif %}" data-toggle="collapse" data-target="#collapse{{my_gw}}" aria-expanded="true" aria-controls="collapse{{my_gw}}">
                        Gameweek {{my_gw}}
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapse{{my_gw}}" class="collapse {% if gw %}{% if gw == my_gw %}show{% endif %}{% else %}{% if my_gw == previous_gameweek or others.items|length == 1 %}show{% endif %}{% endif %}" aria-labelledby="heading{{my_gw}}" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row">
                            {% for f in fixtures %}
                            <div class="col-xl-6 col-lg-6" id="match_{{f.id}}">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">{{ f.team1_verbose_name }} vs {{ f.team2_verbose_name }}</h6>
                                    </div>
                                    <div class="card-body" style="height: 300px;">
                                        <object style="width:1px; min-width: 100%; height: 100%;">
                                            <param name="movie" value="{{ f.url }}">
                                            <param name="allowFullScreen" value="true">
                                            <param name="allowScriptAccess" value="always">
                                            <iframe src="{{ f.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </object>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content%}

{% block scripts %}
<script>
    $(window).on("load", function() {
        var non_disabled_tabs_count = $(".nav-pills a:not('.disabled')").length
        var active_tabs_count = $(".nav-pills a:not('.disabled').active").length
        if(non_disabled_tabs_count > 0 && active_tabs_count == 0){
          $(".nav-pills a:not('.disabled')").first().tab('show')
        }
        var scroll_value = 0
        var match_id = '{{match_id}}';
        if(match_id){
          scroll_value = $("#match_"+match_id).offset().top - 100
          console.log("scroll for match " + match_id)
        }else if($(".collapse.show").length){
          scroll_value = $(".collapse.show").offset().top - 100
          console.log("scroll for uncollapsed")
        }
        if(scroll_value){
          $([document.documentElement, document.body]).animate({
            scrollTop: scroll_value
          }, 500);
        }
    });
</script>
{% endblock %}