{% extends "generic/base.html" %} {% block content%}
<h3>Matches Videos</h3>
{% for stage, fixtures in fixtures_grouped.items %} {% for f in fixtures %} {% if f.url %}
<div class="card shadow mb-4">
    <h3>Game week: {{ f.gameweek }}, {{ f.date }}</h3>
    <h4>{{ f.team1_verbose_name }} vs {{ f.team2_verbose_name }}</h4>
    <object style="height: 390px; width: 640px">
    <param name="movie" value="{{ f.url }}">
    <param name="allowFullScreen" value="true">
    <param name="allowScriptAccess" value="always">
    <embed src="{{ f.url }}" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="390"></object>
</div>
{% endif %} {% endfor %} {% endfor %} {% endblock %}