{% extends "generic/base.html" %} {% block content%}
<h3>Matches Videos</h3>
<h4>match1</h4>
<object style="height: 390px; width: 640px">
    <param name="movie" value="http://www.youtube.com/v/v1gTI4BOPUw?version=3">
    <param name="allowFullScreen" value="true">
    <param name="allowScriptAccess" value="always">
    <embed src="http://www.youtube.com/v/v1gTI4BOPUw?version=3" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="390"></object>

<h4>match2</h4>
<object style="height: 390px; width: 640px">
    <param name="movie" value="http://www.youtube.com/v/v1gTI4BOPUw?version=3">
    <param name="allowFullScreen" value="true">
    <param name="allowScriptAccess" value="always">
    <embed src="http://www.youtube.com/v/v1gTI4BOPUw?version=3" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="390"></object> {% endblock %}