{% extends "generic/base.html" %}

{% block content%}
<div>
    <small style="color: red; font-weight: bold;">Gameweek {{gameweek}} Deadline at: {{gameweek_deadline}}</small>
</div>
<div>&nbsp;</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Matches</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            {% include 'Fantasy/matches_table.html' %}
        </div>
    </div>
</div>
{% endblock content%}

{% block scripts %}
<script>
    var my_gameweek = {{gameweek}};
    $(document).ready(function() {
        $('.dataTable tbody').on('click', 'tr', function () {
            console.log($(this).data('stats-tr'))
            $("#" + $(this).data('stats-tr')).toggle('slow');
        });
        var scroll_value = 0
        if(my_gameweek != 1){
            scroll_value = $("#gameweek-" + my_gameweek).offset().top - 100
        }
        $([document.documentElement, document.body]).animate({
            scrollTop: scroll_value
        }, 2000);
    });
</script>
{% endblock %}