{% extends "generic/base.html" %}
{% load crispy_forms_tags%}
{% block content%}
{% load static %}
<div>
    <small style="color: red; font-weight: bold;">Gameweek {{gameweek}} Deadline at: {{gameweek_deadline|date:'D Y-m-d h:i A'}}</small>
</div>
<div>&nbsp;</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Gameweek {{previous_gameweek}} Points: {{squad.total_squad_score}}</h4>
    </div>
    <div class="card-body">
        <div class="container pitch-container">
            <img src="{% static 'Fantasy/football-pitch.png' %}" alt="">
            {% if squad %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-goalKeeper" player=squad.goalKeeperSelected value=squad.goalKeeperSelected_score %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player1" player=squad.player1Selected value=squad.player1Selected_score %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player2" player=squad.player2Selected value=squad.player2Selected_score %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player3" player=squad.player3Selected value=squad.player3Selected_score %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player4" player=squad.player4Selected value=squad.player4Selected_score %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player5" player=squad.player5Selected value=squad.player5Selected_score %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-captain" player=squad.captainSelected value=squad.captainSelected_score %}
            {% else %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-goalKeeper" is_empty="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player1" is_empty="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player2" is_empty="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player3" is_empty="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player4" is_empty="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player5" is_empty="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-captain" is_empty="1" %}
            {% endif %}
        </div>
        <div class="table-responsive">
            {% include 'Fantasy/matches_table.html' %}
        </div>
    </div>
</div>

{% endblock content%}

{% block style %}
<link href="{% static 'Fantasy/css/pitch-style.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('.dataTable tbody').on('click', 'tr', function () {
            console.log($(this).data('stats-tr'))
            $("#" + $(this).data('stats-tr')).toggle();
        });
        $(".edit-match").click(function(e){ e.stopPropagation() });
    });
</script>
{% endblock scripts %}