{% extends "generic/base.html" %}
{% load crispy_forms_tags%}
{% block content%}
{% load static %}
<div>
    <small style="color: red; font-weight: bold;">Gameweek {{gameweek}} Deadline at: {{gameweek_deadline}}</small>
</div>
<div>&nbsp;</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Gameweek {{previous_gameweek}} Points: {{squad.total_squad_score}}</h4>
    </div>
    <div class="card-body">
        <div class="container pitch-container">
            <img src="{% static 'Fantasy/football-pitch.png' %}" alt="">
            {% if squad %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-goalKeeper" color="black" player=squad.goalKeeperSelected value=squad.goalKeeperSelected_score %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player1" color="royalblue" player=squad.player1Selected value=squad.player1Selected_score %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player2" color="royalblue" player=squad.player2Selected value=squad.player2Selected_score %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player3" color="royalblue" player=squad.player3Selected value=squad.player3Selected_score %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player4" color="royalblue" player=squad.player4Selected value=squad.player4Selected_score %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player5" color="royalblue" player=squad.player5Selected value=squad.player5Selected_score %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-captain" color="darkblue" player=squad.captainSelected value=squad.captainSelected_score %}
            {% else %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-goalKeeper" color="lightgrey" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player1" color="lightgrey" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player2" color="lightgrey" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player3" color="lightgrey" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player4" color="lightgrey" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player5" color="lightgrey" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-captain" color="lightgrey" %}
            {% endif %}
        </div>
        <style>
            .pitch-container { position: relative; }
            .pitch-container img { display: block; }
            .pitch-container > div { max-width: 60px; /* tshirt icon width */ }
            .pitch-container i { font-size: 3em; }
            /* .pitch-container > div > div { 
                font-size: x-small; 
                text-align: center; 
                margin-top: 5px; 
                color: snow; 
                font-weight: bold; 
            } */
            .pitch-container .tshirt-goalKeeper { position: absolute; top:10px; left:254px; }
            .pitch-container .tshirt-player1 { position: absolute; top:105px; left:170px; }
            .pitch-container .tshirt-player2 { position: absolute; top:105px; left:254px; }
            .pitch-container .tshirt-player3 { position: absolute; top:105px; left:338px; }
            .pitch-container .tshirt-player4 { position: absolute; top:200px; left:210px; }
            .pitch-container .tshirt-player5 { position: absolute; top:200px; left:298px; }
            .pitch-container .tshirt-captain { position: absolute; top:284px; left:254px; }
        </style>
        <div class="table-responsive">
            {% include 'Fantasy/matches_table.html' %}
        </div>
    </div>
</div>

{% endblock content%}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#dataTable tbody').on('click', 'tr', function () {
            console.log($(this).data('stats-tr'))
            $("#" + $(this).data('stats-tr')).toggle('slow');
        });
    });
</script>
{% endblock scripts %}