{% extends "generic/base.html" %}
{% load crispy_forms_tags%}
{% block content%}
{% load static %}
<div>
    <small style="color: red; font-weight: bold;">Gameweek {{gameweek}} Deadline at: {{gameweek_deadline|date:'D Y-m-d h:i A'}}</small>
</div>
<div>&nbsp;</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Update Gameweek {{gameweek}} Squad</h4>
    </div>
    <div class="alert alert-block alert-info" style="font-size: 0.7rem; margin-bottom: 0; border: none; border-radius: 0;">
        <p style="margin-bottom: 0;">
            <b>Squad Size</b><br>
                &nbsp; Select a fantasy football squad of 7 players, consisting of: 1 Goalkeeper + 1 Captain + 5 Players<br>
            <b>Players Per Team</b><br>
            &emsp; You can select up to 2 members from a single League team.<br>
            <b>Transfers Rules</b><br>
            &emsp; Edit anytime until the mentioned deadline. Transfers are UNLIMITED!<br>
            <b>Notes</b><br>
            &emsp; Players who are not playing this week, will get NO scores in the fantasy, below you can check the matches of this week. For detailed rules, check the <a href="{% url 'Fantasy-rules' %}">Fantasy Rules</a>.
        </p>
    </div>
    <div class="card-body row">
        <div class="col-lg-4">
            {% if squad %}
                <!-- <div class="text-primary" style="padding-bottom: 1rem;">* Transfers are unlimited</div> -->
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-lg-8">
        <div class="container pitch-container">
            <img src="{% static 'Fantasy/football-pitch.png' %}" alt="">
            {% if squad %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-goalKeeper" player=squad.goalKeeperSelected %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player1" player=squad.player1Selected %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player2" player=squad.player2Selected %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player3" player=squad.player3Selected %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player4" player=squad.player4Selected %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player5" player=squad.player5Selected %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-captain" player=squad.captainSelected %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-goalKeeper" hide="1" is_empty="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player1" hide="1" is_empty="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player2" hide="1" is_empty="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player3" hide="1" is_empty="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player4" hide="1" is_empty="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player5" hide="1" is_empty="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-captain" hide="1" is_empty="1" %}
            {% else %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-goalKeeper" hide="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player1" hide="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player2" hide="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player3" hide="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player4" hide="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player5" hide="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-captain" hide="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-goalKeeper" is_empty="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player1" is_empty="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player2" is_empty="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player3" is_empty="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player4" is_empty="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-player5" is_empty="1" %}
                {% include 'Fantasy/tshirt_template.html' with my_id="tshirt-captain" is_empty="1" %}
            {% endif %}
        </div>
        </div>
        <div class="table-responsive">
            {% include 'Fantasy/matches_table.html' %}
        </div>
    </div>
</div>

{% endblock content%}

{% block style %}
<link href="{% static 'Fantasy/css/pitch-style.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
{{ players_data|json_script:"my-data" }}
<script>
    var players_data = JSON.parse(document.getElementById('my-data').textContent);
    $(document).ready(function() {
        $(".tshirts-full:visible").each(function(){
            var p = $(this).find('.tshirt_player_name').first().data('player_id')
            var v = players_data[p]['vs']
            if(!v){
                v = "-"
            }
            $(this).find('.tshirt_player_value').first().text("vs. " + v)
        })
        $("select").on("change", function(){
            var new_id = this.value
            var label = $(this).attr("name").replace("Selected", "")
            $(".tshirt-" + label).hide()
            if(new_id){
                var item = $("#tshirt-" + label + "_full")
                item.find('.tshirt_team_name').text(players_data[new_id]['team'])
                item.find('.tshirt_player_name').text(players_data[new_id]['name'])
                item.find('i').css('color', players_data[new_id]['color'])
                var v = players_data[new_id]['vs']
                if(!v){
                    v = "-"
                }
                item.find('.tshirt_player_value').text("vs. " + v)
                item.show()
            }else{
                $("#tshirt-" + label + "_empty").show()
            }
        })
    });
</script>
{% endblock scripts %}