{% extends "generic/base.html" %}
{% block content%}
<div>
    <small style="color: red; font-weight: bold;">Gameweek {{gameweek}} Deadline at: {{gameweek_deadline|date:'D Y-m-d h:i A'}}</small>
</div>
<div>&nbsp;</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Scores {% if team %}- {{ team.first_name }} {{team.last_name}} ({{team.total_team_score}} points){% endif %}</h4>
    </div>
    <div class="card-body">
        {% for squad in squads %}
            <h4>Gameweek {{squad.gameweek}}: <span style="color: red;">{{squad.total_squad_score}} points</span></h4>
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>{{squad.captainSelected}} (C)</th>
                            <th>{{squad.goalKeeperSelected}} (GK)</th>
                            <th>{{squad.player1Selected}}</th>
                            <th>{{squad.player2Selected}}</th>
                            <th>{{squad.player3Selected}}</th>
                            <th>{{squad.player4Selected}}</th>
                            <th>{{squad.player5Selected}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% if squad.gameweek == gameweek %}
                            <td>{{ squad.captainSelected_score|default_if_none:'-' }}</td>
                            <td>{{ squad.goalKeeperSelected_score|default_if_none:'-' }}</td>
                            <td>{{ squad.player1Selected_score|default_if_none:'-' }}</td>
                            <td>{{ squad.player2Selected_score|default_if_none:'-' }}</td>
                            <td>{{ squad.player3Selected_score|default_if_none:'-' }}</td>
                            <td>{{ squad.player4Selected_score|default_if_none:'-' }}</td>
                            <td>{{ squad.player5Selected_score|default_if_none:'-' }}</td>
                            {% else %}
                            <td>{{ squad.captainSelected_score|default_if_none:'0' }}</td>
                            <td>{{ squad.goalKeeperSelected_score|default_if_none:'0' }}</td>
                            <td>{{ squad.player1Selected_score|default_if_none:'0' }}</td>
                            <td>{{ squad.player2Selected_score|default_if_none:'0' }}</td>
                            <td>{{ squad.player3Selected_score|default_if_none:'0' }}</td>
                            <td>{{ squad.player4Selected_score|default_if_none:'0' }}</td>
                            <td>{{ squad.player5Selected_score|default_if_none:'0' }}</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content%}