{% load my_filters %}
<!-- <div class="tshirts {{my_id}}"> 
    <a href="#"><i class="fas fa-tshirt fa-lg" style="color: {{ color }}"></i></a>
    <div style="font-size: x-small; text-align: center; margin-top: 5px; color: snow; font-weight: bold; ">
        {{ player }}
    </div>
</div> -->

<div class="tshirts {{my_id}} {% if is_empty %}tshirts-empty{% else %}tshirts-full{% endif %}" id="{% if is_empty %}{{my_id}}_empty{% else %}{{my_id}}_full{% endif %}" {% if hide %}style="display: none;"{% endif %}> 
    <a class="fa-stack" style="text-align:center; width: -webkit-fill-available;" href="#">
        <i class="fas fa-tshirt fa-lg fa-stack-2x" style="color: {{ color }}"></i>
        <span class="fa fa-stack-1x" style="color: snow;">
            <span class="tshirt_team_name" style="display:block; font-size: xx-small;">{{ player.team.short_name }}</span>
        </span>
    </a>
    <div style="font-size: x-small; text-align: center; margin-top: 10px; color: darkgreen; font-weight: bold; ">
        <span class="tshirt_player_name" data-player_id="{{ player.id }}">{{ player.playerName }}</span><br><span class="tshirt_player_value" data-h="{{value}}">{% if value != None %}{% if value|is_numeric %}({{ value }}){% else %}vs. {{value}}{% endif %}{% endif %}</span>
    </div>
</div>