{% load my_filters %}
<!-- <div class="tshirts {{my_id}}"> 
    <a href="#"><i class="fas fa-tshirt fa-lg" style="color: {{ color }}"></i></a>
    <div style="font-size: x-small; text-align: center; margin-top: 5px; color: snow; font-weight: bold; ">
        {{ player }}
    </div>
</div> -->

<div class="tshirts {{my_id}} {% if player %}tshirts-full{% else %}tshirts-empty{% endif %}" id="{% if player %}{{my_id}}_full{% else %}{{my_id}}_empty{% endif %}" style="width: 60px; {% if hide %}display: none;{% endif %}"> 
    <a class="fa-stack" style="text-align:center; width: -webkit-fill-available;" href="#">
        <i class="fas fa-tshirt fa-lg fa-stack-2x" style="color: {% if player %}{{ player.team.color }}{% else %}lightgrey{% endif %}"></i>
        <span class="fa fa-stack-1x" style="color: snow;">
            <span class="tshirt_team_name" style="display:block; font-size: xx-small; -webkit-text-fill-color: white; -webkit-text-stroke-width: 0.5px; -webkit-text-stroke-color: black; font-family: system-ui;">{{ player.team.short_name }}</span>
        </span>
    </a>
    <div style="font-size: x-small; text-align: center; margin-top: 10px; color: darkgreen; font-weight: bold; ">
        <span class="tshirt_player_name" data-player_id="{{ player.id }}">{{ player.playerName }}</span><br><b><span class="tshirt_player_value">{% if value != None %}{% if value|is_numeric %}({{ value }}){% else %}vs. {{value}}{% endif %}{% endif %}</span></b>
    </div>
</div>