container_commands:
  01_loadplayers:
    command: "source /opt/python/run/venv/bin/activate && python manage.py loaddata players.json"
    leader_only: true
  02_loadusers:
    command: "source /opt/python/run/venv/bin/activate && python manage.py loaddata users.json"
    leader_only: true
  03_loadteams:
    command: "source /opt/python/run/venv/bin/activate && python manage.py loaddata teams.json"
    leader_only: true
  04_loadsquads:
    command: "source /opt/python/run/venv/bin/activate && python manage.py loaddata squads.json"
    leader_only: true
  05_loadscores:
    command: "source /opt/python/run/venv/bin/activate && python manage.py loaddata scores.json"
    leader_only: true