container_commands:
  01_add_new_gameweek_squads:
    command: "source /opt/python/run/venv/bin/activate && python manage.py add_new_gameweek_squads"
    leader_only: true
  02_add_new_gameweek_squads_cron:
    command: "cat .ebextensions/add_new_gameweek_squads_cron.txt | strings > /etc/cron.d/add_new_gameweek_squads_job && chmod 644 /etc/cron.d/add_new_gameweek_squads_job"
    leader_only: true
